APP_OWNER=ruan
APP_ENV={{ env }}
APP_IDS={{ app_ids }}
APP_IPS=10.0.1.3,{{ app_ip_address }},172.16.18.2
{% if include_extra_vars %}
EXTRA_PASS={{ passw }}
{% endif %}
{% if env == 'prod' %}
API_SECRET={{ api_secret }}
{% else %}
API_SECRET=null
{% endif %}
